html {
    background-color: rgb(243, 202, 114);
}

h1 {
    text-align: center;
    color: rgb(179, 73, 31);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.interface {
    display: flex;
    flex-wrap: wrap;
}

.interface input {
    border: none;
    background-color: rgb(226, 173, 103);
    /* border-bottom: solid 1px black; */
    width: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.interface input:focus {
    border: none;
    background-color: rgb(226, 173, 103);
    outline: none;
    /* border-bottom: solid 1px black; */
}

#generate {
    background-color: rgb(235, 106, 55);
    padding: 8px 14px;
    border: none;
    box-shadow: 0px 5px rgb(112, 62, 34);
    /* border-bottom: solid 5px rgb(112, 62, 34); */
    bottom: 0;
    /* transition: transform .5s; */
}

#generate:hover {
    background-color: rgb(233, 141, 105);
}

#generate:active {
    box-shadow: none;
    /* border: none; */
    transform:translateY(5px)
}